*{
padding: 0;
margin: 0;
font-family: 'Bai Jamjuree', sans-serif;

}
:root{
    --Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}
nav, .maximum, .final{
max-width: 1440px;
margin: auto;
}

.nav-links ul{
display: flex;
list-style: none;
gap: 2rem;
}
nav{
  
    padding: 2rem;
display: flex;
justify-content: space-between;
}
.nav-links a{
    color:var(--Dark-grayish-blue);
text-decoration: none;
gap: 2rem;
font-size: 26px;
}
.nav-links a:hover{
    transition: 0.6s;
    color: rgb(255, 0, 0);



}
.home-image {
display: flex;
justify-content: space-between;
}
.home-info{

display: flex;
flex-direction: column;
gap: 1.7rem;
margin-left: 2rem;
background-color: var(--Very-dark-blue);
color: var(--Off-white);
padding: 2rem;
}
.home-info p{

    width: 300px;
}
.home-info h1{
font-size: 40px;

}
.home-2{
    align-items: center;
margin-top: -11rem;
display: flex;

justify-content: space-between;


}
.info-text-btn{
    color: var(--Dark-grayish-blue);
font-size: 30px;
width: 500px;
margin-right: 23rem;
}
.info-text{
    color: var(--Very-dark-blue);

font-size: 40px;
width: 500px;
}
.info-text-btn button{
background-color: var(--Very-dark-blue);
padding: 1rem 5rem;
color: var(--Off-white);
font-size: 25px;
margin-top: 2.8rem;
cursor: pointer;
}
.home-info h1{
cursor: pointer;

}
.home-info h1:hover{
transform: scale(1.1);
transition: 0.6s;
color: gold;
}
.block-1 ul{

width: 450px;

}
.block-1 {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
   flex-direction: column;

}
.block-1 li{
display: flex;
flex-direction: column;
gap: 0.5rem;
margin-left: 8rem;
margin-top: -9.4rem;
}
.final{
display: flex;
justify-content: space-between;
margin-top: 5rem;
gap: 4rem;
align-items: center;
padding: 2rem;
}
.block-1 span{
font-size: 40px;
color: var(--Grayish-blue);
}
.block-1 span:hover{
cursor: pointer;;

}
.block-1 h3:hover{
color: red;
cursor: pointer;
transition:all ;
transition: 0.5s;
}
.block-1 img:hover{
transform: scale(1.2);
transition: all;
transition: 0.5s;
}
.block-1 p:hover{
cursor: pointer;

}
.home-info p:hover{
cursor: pointer;

}
.home-info h3:hover{
cursor: pointer;

}
.info-text h1:hover{
    cursor: pointer;
}
.info-text-btn p:hover{
cursor: pointer;


}